@import '~style/variables/colors';
@import '~style/variables/measurements';
@import '~style/mixins';

.dropdown-container {
  display: inline-block;

  &.is-clearable {
    display: flex;

    .hl-primary-btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    .hl-primary-btn-red {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -10px;
    }
  }

  .clickable {
    &:focus {
      outline: none;
    }
  }
}

.dropdown-menu-container {
  position: relative;
}

.dropdown-menu {
  background: #fff;
  z-index: 6;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px $base-border-color solid;
  border-radius: $base-border-radius;
  position: absolute;
  min-width: 250px;
  max-width: 500px;
  top: 10px;

  .dropdown-header {
    padding: 2px 12px;
    background: $app-bg-color;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    border-bottom: 2px $inner-border-color solid;
    font-weight: 600;
    font-size: 13px;
    line-height: $default-line-height;
  }

  .dropdown-footer {
    padding: 10px;
    border-top: 1px $inner-border-color solid;
  }

  .dropdown-menu-item,
  .dropdown-menu-sub-item {
    color: $app-color-darkblue;
    line-height: 20px;
    padding: 0 14px;
    display: flex;
    // white-space: nowrap;
    align-items: center;
    cursor: pointer;

    label {
      padding: 7px 10px;
      flex-grow: 1;
      cursor: pointer;
    }

    a {
      color: initial;
      text-decoration: none;
    }

    &:hover {
      background-color: $lily-white-tone-hover;
    }

    &:not(:last-of-type) {
      border-bottom: 1px $inner-border-color solid;
    }
  }

  &.has-header {
    @include menu-arrow($app-bg-color);
  }

  &:not(.has-header) {
    .dropdown-menu-item {
      &:first-of-type {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        @include menu-arrow();

        &:hover {
          &:before {
            border-bottom-color: $lily-white-tone-hover;
          }
        }
      }

      &:last-of-type {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .dropdown-menu-sub-item {
    padding-left: 25px;
    flex-wrap: initial;
    background-color: #fcfdff;

    &:last-of-type {
      border-bottom: 1px $inner-border-color solid;
    }
  }

  .divider {
    margin: 5px 10px;
    border-bottom: 1px $light-border-color solid;
  }
}

.dropdown-menu-item {
  .is-disabled {
    a {
      &:not(.unavailable-marker) {
        background-color: initial;
        display: inline-block;
        width: 150px;
      }
    }
  }
}
