@import '~style/fonts/lilicon';
@import '~style/variables/colors';
@import '~style/variables/measurements';

.editable-wrap {
  .error-message {
    font-size: 0.85em;
    flex-basis: 100%;
    line-height: initial;
    margin-top: 5px;
  }
}

.editable-input-wrap {
  display: flex;
  position: relative;
  min-width: 150px;

  &.editable-multi {
    flex-direction: column;
  }

  .hl-primary-btn {
    align-self: flex-start;
    line-height: 33px;
  }

  .input-addon-icon {
    padding: 0 10px;
    height: 36px;
  }
}

.editable {
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  display: inline-block;
  line-height: $default-line-height;
  position: relative;
  padding: 0 6px;
  border: 1px transparent solid;
  white-space: pre-wrap;
  margin: 0 -5px;

  &:after {
    background: $lily-white-tone-hover;
    border: 1px $base-border-color solid;
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    color: $lily-dark-blue;
    text-align: center;
    float: left;
    position: absolute;
    top: -1px;
    overflow: hidden;
    font-family: 'lilicon';
    content: $hl-edit-icon;
    line-height: $default-line-height;
    visibility: hidden;
    width: 0;
    right: 0;
    cursor: pointer;
  }

  &:hover {
    border: 1px $base-border-color solid;
    cursor: text;

    &:after {
      transition: all ease-in-out 0.3s;
      visibility: visible;
      width: $default-line-height;
      right: -$default-line-height - 2;
      z-index: 99;
    }
  }
}

.editable-buttons {
  button {
    color: $lily-dark-blue;
    background: $lily-white-tone-hover;
    border: 1px $lily-grey solid;
    margin-left: 0;
    border-radius: 0;
    height: $default-line-height + 2;
    width: $default-line-height + 2;
    text-align: center;
    padding: 0;
    line-height: $default-line-height;
    transition: border-color 0.3s ease;

    &:not(:last-of-type) {
      border-right: 0;
    }

    &:last-of-type {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    &:hover {
      background: $lily-white-tone-hover;
      border-color: $lily-grey;
      color: $app-color-aqua;
    }

    &:active {
      background: $lily-grey !important;
      color: darken($lily-blue, 10) !important;
      border-color: $lily-grey;
    }
  }
}

.editable-input {
  line-height: $default-line-height;
  background: #fff;
  flex: 1;

  input {
    padding: 6px 12px;
  }

  &.editable-has-buttons {
    &:not(textarea) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }

    &:not(input) {
      border-bottom-right-radius: 0;

      + .editable-buttons {
        button {
          border-top: 0;
        }
      }
    }

    &:focus {
      + .editable-buttons {
        button {
          border-color: $app-color-darkblue;

          &:not(:first-of-type) {
            border-left-color: $inner-border-color;
          }
        }
      }
    }
  }
}

input {
  &.editable-input {
    padding: 0 12px;
  }
}

.editable-stretched {
  flex-direction: column;

  textarea {
    min-height: 100px;
    max-height: 500px;
  }

  .editable-buttons {
    align-self: flex-end;

    button {
      &:first-of-type {
        border-bottom-left-radius: $base-border-radius;
      }

      &:last-of-type {
        border-top-right-radius: 0;
      }
    }
  }
}

.editable-empty {
  color: $text-muted;
  font-style: italic;

  &:hover {
    color: $text-muted;
  }
}

.editable-multi-actions {
  background: $lily-white-tone-hover;
  border: 1px $lily-grey solid;
  border-radius: $base-border-radius;
  height: $default-line-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.editable-related-row {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.is-deleted {
  // Buttons should be kept available (e.g. undo).
  > :not(button):not(.form-related-actions) {
    pointer-events: none;
    opacity: 0.35;
  }
}

.editable-addresses {
  display: flex;
  flex-grow: 1;

  .address-row {
    flex-grow: 1;
  }
}
