@import '~style/fonts/lilicon.scss';
@import '~style/variables/colors';
@import '~style/variables/measurements';

.editable-wrap {
  .error-message {
    font-size: 0.85em;
    flex-basis: 100%;
  }
}

.editable-input-wrap {
  display: flex;
  position: relative;
  min-width: 100px;

  &.editable-multi {
    flex-direction: column;
  }

  .hl-primary-btn {
    line-height: 27px;
  }
}

.editable {
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  display: inline-block;
  line-height: $default-line-height - 2px;
  position: relative;
  padding: 0 6px;
  border: 1px transparent solid;
  white-space: pre-wrap;

  &:after {
    background: $lily-white-tone-hover;
    border: 1px $base-border-color solid;
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    color: $lily-dark-blue;
    text-align: center;
    float: left;
    position: absolute;
    top: -1px;
    overflow: hidden;
    font-family: 'lilicon';
    content: $hl-edit-icon;
    line-height: $default-line-height - 2px;
    visibility: hidden;
    width: 0;
    right: 0;
    cursor: pointer;

    &:hover {
      color: $lily-blue;
    }
  }

  &:hover {
    color: $lily-blue;
    border: 1px $base-border-color solid;
    cursor: text;

    &:after {
      transition: all ease-in-out 0.3s;
      visibility: visible;
      width: $default-line-height;
      right: -$default-line-height - 2;
      z-index: 99;
    }
  }
}

.editable-buttons {
  button {
    color: $lily-dark-blue;
    background: $lily-white-tone-hover;
    border: 1px $lily-grey solid;
    margin-left: 0;
    border-radius: 0;
    height: $default-line-height;
    width: $default-line-height;
    text-align: center;
    padding: 0;
    line-height: $default-line-height - 2px;

    &:not(:last-of-type) {
      border-right: 0;
    }

    &:last-of-type {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    &:hover {
      background: $lily-white-tone-hover;
      border-color: $lily-grey;
      color: $lily-blue;
    }

    &:active {
      background: $lily-grey !important;
      color: darken($lily-blue, 10) !important;
      border-color: $lily-grey;
    }
  }
}

.editable-input {
  line-height: $default-line-height;
  border-color: $lily-grey;
  border-radius: $base-border-radius;
  flex-grow: 1;

  &:focus {
    border-color: $lily-grey;
  }
}

.editable-has-buttons {
  line-height: $default-line-height;
  height: $default-line-height;
  border: 1px $lily-grey solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.editable-stretched {
  flex-direction: column;

  textarea {
    min-height: 100px;
    max-height: 500px;
  }

  .editable-buttons {
    align-self: flex-end;
  }

  .editable-buttons {
    button {
      &:first-of-type {
        border-bottom-left-radius: $base-border-radius;
      }

      &:last-of-type {
        border-top-right-radius: 0;
      }
    }
  }
}

.editable-empty {
  color: $text-muted;
  font-style: italic;

  &:hover {
    color: $text-muted;
  }
}

.editable-multi-actions {
  background: $lily-white-tone-hover;
  border: 1px $lily-grey solid;
  border-radius: $base-border-radius;
  height: $default-line-height;
  display: flex;
  justify-content: flex-end;
}

.editable-related-row {
  display: flex;
  // flex-wrap: wrap;
  margin-bottom: 20px;

  .hl-primary-btn {
    align-self: flex-end;
  }
}

.is-deleted {
  // Undo buttons should be kept available.
  > :not(button) {
    pointer-events: none;
    opacity: 0.35;
  }
}

.editable-addresses {
  display: flex;
  flex-grow: 1;

  .address-row {
    flex-grow: 1;
  }
}
