@import '~style/variables/colors';
@import '~style/variables/measurements';

.editable-wrap {
  .error-message {
    font-size: 0.85em;
    flex-basis: 100%;
    line-height: initial;
    margin-top: 5px;
  }
}

.editable-input-wrap {
  display: flex;
  position: relative;
  min-width: 150px;

  &.editable-multi {
    flex-direction: column;
  }

  .hl-primary-btn {
    align-self: flex-start;
    line-height: 33px;
  }

  .input-addon-icon {
    padding: 0 10px;
    height: 36px;
  }
}

.editable {
  border: 1px transparent solid;
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  display: inline-flex;
  line-height: $default-line-height;
  position: relative;
  white-space: pre-wrap;
  margin: 0 -5px;

  .editable-content {
    cursor: text;
    padding: 0 6px;
    white-space: nowrap;
  }

  .editable-open {
    visibility: hidden;
    width: 0;
    position: absolute;
    border: 1px $base-border-color solid;
    border-left-color: transparent;
    background: $lily-white-tone-hover;
    border-radius: 0;
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    line-height: $default-line-height;
    right: 0;
    top: -1px;
    overflow: hidden;
    padding: 0;

    svg {
      font-size: 1.25em;
    }
  }

  &:hover {
    border: 1px $base-border-color solid;

    .editable-open {
      visibility: visible;
      transition: width ease-out 0.2s, right ease-out 0.2s, border-left-color ease-out 0.2s;
      width: $default-line-height;
      right: -$default-line-height;
      border-left-color: $base-border-color;
    }
  }
}

.editable-buttons {
  button {
    color: $lily-dark-blue;
    background: $lily-white-tone-hover;
    border: 1px $lily-grey solid;
    margin-left: 0;
    border-radius: 0;
    height: $default-line-height + 2;
    width: $default-line-height + 2;
    text-align: center;
    padding: 0;
    line-height: $default-line-height;
    transition: border-color 0.3s ease;

    &:not(:last-of-type) {
      border-right: 0;
    }

    &:last-of-type {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    &:hover {
      background: $lily-white-tone-hover;
      border-color: $lily-grey;
      color: $app-color-aqua;
    }

    &:active {
      background: $lily-grey !important;
      color: darken($lily-blue, 10) !important;
      border-color: $lily-grey;
    }
  }
}

.editable-stretched {
  flex-direction: column;

  textarea {
    min-height: 100px;
    max-height: 500px;
  }

  .editable-buttons {
    align-self: flex-end;

    button {
      &:first-of-type {
        border-bottom-left-radius: $base-border-radius;
      }

      &:last-of-type {
        border-top-right-radius: 0;
      }
    }
  }
}

.editable-empty {
  color: $text-muted;
  font-style: italic;

  &:hover {
    color: $text-muted;
  }
}

.editable-multi-actions {
  background: $lily-white-tone-hover;
  border: 1px $lily-grey solid;
  border-radius: $base-border-radius;
  height: $default-line-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
