@import '~style/variables/colors';

.unavailable-marker {
  font-size: 0.9em;
  border-style: solid;
  padding: 2px 6px;
  border-radius: 2px;
  color: white;
  background: $app-color-darkblue;

  &:hover {
    background: lighten($app-color-darkblue, 15%);
    color: #fff;
  }
}
