@import '~style/variables/colors';

.unavailable-marker {
  font-size: 0.9em;
  border: 1px $base-border-color solid;
  border-radius: 2px;
  padding: 2px 6px;
  color: #fff;
  background: $app-color-darkblue;

  &:hover {
    background: lighten($app-color-darkblue, 15);
    color: #fff;
  }
}
