@import 'variables/colors';

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

$large-button-size: 30px;

@mixin hl-button($button-size) {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 ceil($button-size / 4);
  text-transform: uppercase;
  font-weight: 500;
  background: #fff;
  line-height: $large-button-size;

  &:focus {
    text-decoration: none;
  }
}

.hl-primary-btn,
.hl-primary-btn-green,
.hl-primary-btn-blue,
.hl-primary-btn-smll {
  outline: none;
}

.hl-primary-btn {
  @include hl-button($large-button-size);
  color: $app-color-darkblue;
  border-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-radius: 3px;
  font-size: 12px;

  &:hover {
    color: $app-color-aqua;
    text-decoration: none;
  }

  &.disabled {
      pointer-events: none;
      opacity: 0.50;
  }

  &.round {
    border-radius: 50%;
    padding: 0 (ceil($large-button-size / 4) + 1);
  }

  &.round {
    margin: 0;
    border-radius: 50%;
  }
}

.hl-interface-btn {
  @include hl-button($large-button-size);
  color: $text-muted;
  border: none;

  &:hover {
    color: $app-color-darkblue;
    text-decoration: none;
  }
}

.close-btn {
  color: $text-muted;
  border: 0;

  &:hover {
    color: $app-color-red;
  }
}
