@import 'variables/colors';

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

$large-button: 30px;

@mixin hl-button($button-size) {
  box-sizing: border-box;
  display: inline-block;
  border-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  line-height: $button-size;
  padding: 0 ($button-size / 4);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  background: #fff;

  &:hover {
      color: $app-color-aqua;
      text-decoration: none;
  }

  &:focus {
      text-decoration: none;
  }

  &.disabled {
      pointer-events: none;
      opacity: 0.50;
  }
}

.hl-primary-btn,
.hl-primary-btn-green,
.hl-primary-btn-blue,
.hl-primary-btn-smll {
  outline: none;
}

.hl-primary-btn {
  @include hl-button($large-button);
  color: $app-color-darkblue;

  &.round {
      margin: 0;
      border-radius: 50%;
  }
}

.close-btn {
    color: $text-muted;
    border: 0;

    &:hover {
        color: $app-color-red;
    }
}
