@import 'variables/colors';

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

$small-button-size: 21px;
$large-button-size: 31px;

@mixin hl-button($button-size) {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 ceil($button-size / 4);
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
  line-height: $large-button-size;
  border-width: 1px;
  border: 1px $inner-border-color solid;
  border-bottom-width: 2px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;

  &:focus {
    text-decoration: none;
  }
}

.hl-primary-btn,
.hl-primary-btn-green,
.hl-primary-btn-blue,
.hl-primary-btn-smll {
  outline: none;
}

button,
a {
  &.borderless {
    border: 0;
    background: none;
  }
}

.hl-primary-btn {
  @include hl-button($large-button-size);
  color: $app-color-darkblue;

  &:hover {
    color: $app-color-aqua;
    text-decoration: none;
  }

  &.selected {
    color: $app-color-aqua;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.round {
    border-radius: 50%;
    padding: 0 (ceil($large-button-size / 4) + 1);
  }

  &.round {
    margin: 0;
    border-radius: 50%;
  }

  &.small {
    line-height: $small-button-size;
    padding: 0 ($small-button-size / 4);
  }
}

.hl-primary-btn-green {
  @include hl-button($large-button-size);
  background: $app-color-mint;
  border-color: darken($app-color-mint, 15);
  color: #fff;
  font-weight: 700;

  &:hover {
    color: #fff;
    background: darken($app-color-mint, 10);
  }

  &:focus {
    color: #fff;
  }
}

.hl-primary-btn-blue {
  @include hl-button($large-button-size);
  background: $app-color-aqua;
  border-color: darken($app-color-aqua, 10);
  color: #fff;
  font-weight: 700;

  &:hover {
    color: #fff;
    background: darken($app-color-aqua, 5);
  }

  &:focus {
    color: #fff;
  }
}

.hl-primary-btn-red {
  @include hl-button($large-button-size);
  background: $app-color-red;
  border-color: darken($app-color-red, 20);
  color: #fff;
  font-weight: 700;

  &:hover {
    color: #fff;
    background: darken($app-color-red, 5);
  }
}

.hl-primary-btn-link {
  color: $app-link-color;
  background: none;
  outline: none;
  border: 0;
  padding: 0;
  line-height: $large-button-size;

  &:hover {
    color: $app-color-darkblue;
  }
}

.hl-interface-btn {
  @include hl-button($large-button-size);
  color: $text-muted;
  border: none;
  background: none;

  &:hover {
    text-decoration: none;
    color: $app-color-darkblue;
  }

  &.larger {
    font-size: initial;
  }
}

.hl-btn-group {
  display: inline-flex;

  .hl-primary-btn {
    border-left-width: 0;
    border-radius: 0;

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-left-width: 1px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.dropdown-menu {
  .dropdown-button {
    @include hl-button($large-button-size);
    padding: 0;
    border: none;
    background: none;
    font-weight: 500;
    width: 100%;
    text-align: left;
    text-transform: initial;
  }
}

.filter-group {
  display: flex;
  margin-left: auto;

  .hl-primary-btn {
    border-color: transparent;
    min-width: 50px;

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    &.active {
      color: $app-color-aqua;
      border-color: $inner-border-color;
    }
  }
}

.close-btn {
  color: $text-muted;
  border: 0;

  &:hover {
    color: $app-color-red;
  }
}

.filter-btn {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}
