@import '~style/variables/colors';

form {
  > ul {
    padding: 0;
    margin: 0;

    > li {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  label {
    display: block;
    padding-bottom: 0.1rem;
  }

  input,
  textarea {
    width: 100%;
  }

  .form-field {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

label {
  &[required] {
    &:after {
      margin-left: 5px;
      font-size: 10px;
      color: #c9c9c9;
      content: '(required)';
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.input-addon {
  display: flex;
  align-items: center;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .hl-primary-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 34px;
  }
}

.form-section {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .form-section-heading {
    border-bottom: 1px $light-border-color solid;
    font-size: 18px;
    font-weight: 600;
    color: $lily-dark-blue;
    padding-bottom: 7px;
    padding-top: 6px;
    text-align: right;
    flex-basis: 20%;
    margin-right: 25px;
    margin-bottom: 10px;
    flex-grow: 1;
  }

  .form-section-content {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 75%;
  }
}

.form-suggestion {
  background: lighten($app-color-yellow, 47);
  border: 1px lighten($app-color-yellow, 20) solid;
  padding: 10px;
  border-radius: $base-border-radius;
  margin-bottom: 10px;
}

.form-suggestion-title {
  color: #000;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-suggestion-items {
  font-size: 14px;
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px lighten($app-color-yellow, 20) dotted;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.form-suggestion-item {
  flex-grow: 1;
  align-self: center;
}
