form {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  label {
    display: block;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease-in-out;
    padding-bottom: 0.3rem;

    > span {
      display: block;
      font-size: 0.9rem;
      line-height: 1rem;
      margin-bottom: 0.2rem;
    }
    > input[type='text'],
    > input[type='password'] {
      box-sizing: border-box;
      width: 100%;
      font-size: 1rem;
      line-height: 0.8rem;
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      border: 1px solid lightgrey;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      transition: background-color 0.2s ease-in-out;
    }

    &.invalid:not(.clean) {
      border-bottom-color: rgb(161, 35, 35);
      > input[type='text'],
      > input[type='password'] {
        background-color: rgba(230, 0, 0, 0.1);
      }
    }
  }
}
