@import '~style/variables/colors';
@import '~style/variables/measurements';

form {
  > ul {
    padding: 0;
    margin: 0;

    > li {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  label {
    display: block;
    padding-bottom: 0.1rem;
  }

  textarea {
    width: 100%;
  }

  .form-field {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.hl-input {
  width: 100%;
}

label {
  &[required] {
    &:after {
      margin-left: 5px;
      font-size: 10px;
      color: #c9c9c9;
      content: '(required)';
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.input-addon {
  display: flex;

  .hl-primary-btn {
    width: 34px;
  }

  .input-addon-icon {
    background: $lily-grey;
    color: $text-muted;
    border-radius: $base-border-radius;
    padding: 6px 10px;
  }

  > :first-child,
  .hl-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-section {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .form-section-heading {
    border-bottom: 1px $light-border-color solid;
    font-size: 18px;
    font-weight: 600;
    color: $lily-dark-blue;
    padding-bottom: 7px;
    padding-top: 6px;
    text-align: right;
    margin-right: 25px;
    margin-bottom: 10px;
    flex: 1 1 20%;
  }

  .form-section-content {
    flex: 1 1 75%;
  }
}

.form-suggestions {
  background: lighten($app-color-yellow, 47);
  border: 1px lighten($app-color-yellow, 20) solid;
  padding: 10px;
  border-radius: $base-border-radius;
  margin-bottom: 10px;

  .form-suggestion-title {
    color: $app-color-darkblue;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-suggestion-row {
    font-size: 14px;
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px lighten($app-color-yellow, 20) dotted;

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .form-suggestion-info {
      flex-grow: 1;
      align-self: center;
    }
  }
}

.no-options-action {
  padding: 10px;
  border: 0;
  border-radius: $base-border-radius;
  width: 100%;

  &:hover {
    background: $lily-white-tone-hover;
  }
}

.case-priority-buttons {
  border-radius: $base-border-radius;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  .hl-primary-btn {
    text-transform: unset;
    position: relative;
    border-radius: $base-border-radius;
    text-align: left;

    .radio-button-label {
      cursor: pointer;
    }

    &:before {
      content: '';
      width: 6px;
      position: absolute;
      border-radius: $base-border-radius 0 0 $base-border-radius;
      top: -1px;
      bottom: -2px;
      left: -1px;
    }

    &.low-priority {
      &:before {
        background: $low-prio-color;
      }
    }

    &.medium-priority {
      &:before {
        background: $medium-prio-color;
      }
    }

    &.high-priority {
      &:before {
        background: $high-prio-color;
      }
    }

    &.critical-priority {
      &:before {
        background: $critical-prio-color;
      }
    }
  }
}

.form-info-table {
  background: $sky-grey;
  border-radius: $base-border-radius;
  width: 100%;

  td {
    padding: 10px;
    vertical-align: top;

    &:first-of-type {
      width: 20px;
      padding-right: 5px;
    }
  }
}
