@import 'variables/step_colors';
@import 'mixins';

$bullet-size: 10px;

.step-type {
  @include colored-bullet($bullet-size, $bullet-color-1);

  &.position-0 {
    @include colored-bullet($bullet-size, $bullet-color-1);
  }

  &.position-1 {
    @include colored-bullet($bullet-size, $bullet-color-2);
  }

  &.position-2 {
    @include colored-bullet($bullet-size, $bullet-color-3);
  }

  &.position-3 {
    @include colored-bullet($bullet-size, $bullet-color-4);
  }

  &.position-4 {
    @include colored-bullet($bullet-size, $bullet-color-5);
  }

  &.position-5 {
    @include colored-bullet($bullet-size, $bullet-color-6);
  }

  &.position-6 {
    @include colored-bullet($bullet-size, $bullet-color-7);
  }

  &.position-7 {
    @include colored-bullet($bullet-size, $bullet-color-8);
  }

  &.position-8 {
    @include colored-bullet($bullet-size, $bullet-color-9);
  }

  &.position-9 {
    @include colored-bullet($bullet-size, $bullet-color-10);
  }

  &.position-10 {
    @include colored-bullet($bullet-size, $bullet-color-11);
  }
}

.hl-entity-status-active-icon {
  position: relative;
  display: inline-block;

  &:before {
    content: $hl-entity-b-icon;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 5px;
  }

  &:after {
    color: $app-color-mint;
    content: $hl-entity-active-icon;
    position: absolute;
    top: 0;
    left: -4px;
    font-size: 150%;
    line-height: 100% / (150 / 100); // Make first number within () same percentage as the font-size
  }
}

.hl-entity-status-inactive-icon {
  position: relative;
  display: inline-block;

  &:before {
    content: $hl-entity-b-icon;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 5px;
  }

  &:after {
    color: $app-color-red;
    content: $hl-entity-inactive-icon;
    position: absolute;
    top: 0;
    left: -3px;
    font-size: 150%;
    line-height: 100% / (150 / 100); // Make first number within () same percentage as the font-size
  }
}
