@import './variables/colors';
@import './variables/measurements';

input:checked + .slider {
  background-color: #dcf9f3;
  border-color: #00b0bd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: #48dcc3;
  border-color: #00b0bd;
}

.switch {
  input {
    display: none;
  }
}

.slider {
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border: 1px solid $base-border-color;
  margin: 0;
  height: 24px;
  width: 48px;

  &:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: $app-bg-color;
    border: 1px solid $base-border-color;
  }

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}
