@import '~style/variables/colors';
@import '~style/variables/measurements';

.list {
  position: relative;
  border-style: solid;
  background: #fff;

  .list-header,
  .list-footer {
    padding: 8px 15px;
  }

  .list-footer {
    border-top: 1px $inner-border-color solid;
  }

  .list-header {
    border-bottom: 1px $light-border-color solid;
    display: flex;
    align-items: center;

    .list-title {
      font-size: 18px;
      font-weight: 400;
    }

    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.search-bar {
  width: 225px;
  display: flex;

  .hl-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 32px;
  }
}
