@import '~style/variables/colors';

@mixin colored-bullet($size, $color) {
  &:before {
    content: '';
    display: inline-block;
    position: relative;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    background: $color;
  }
}

@mixin menu-arrow($color: #fff, $reverse: false) {
  &:before {
    content: '';
    position: absolute;
    z-index: 4;
    top: -8px;
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-color: transparent transparent $color;
    border-style: solid;

    @if $reverse {
      right: 10px;
    } @else {
      left: 10px;
    }
  }

  &:after {
    content: '';
    z-index: 3;
    position: absolute;
    top: -9px;
    border-width: 0 8px 8px;
    border-color: transparent transparent $base-border-color;
    border-style: solid;

    @if $reverse {
      right: 10px;
    } @else {
      left: 10px;
    }
  }
}
