@import '~style/variables/colors';

@mixin colored-bullet($size, $color) {
  margin-left: 5px;
  padding-left: 3px;

  &:before {
    content: '';
    display: inline-block;
    position: relative;
    left: -5px;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    background: $color;
  }
}

@mixin menu-arrow($color: #fff) {
  &:before {
    content: '';
    position: absolute;
    z-index: 4;
    left: 10px;
    top: -8px;
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-color: transparent transparent $color;
    border-style: solid;
  }

  &:after {
    content: '';
    z-index: 3;
    position: absolute;
    top: -9px;
    left: 10px;
    border-width: 0 8px 8px;
    border-color: transparent transparent $base-border-color;
    border-style: solid;
  }
}
