@import './variables/colors';

.hl-prio-icon-low {
  color: $low-prio-color;
}

.hl-prio-icon-medium {
  color: $medium-prio-color;
}

.hl-prio-icon-high {
  color: $high-prio-color;
}

.hl-prio-icon-critical {
  color: $critical-prio-color;
}
