.hl-table {
  width: 100%;
  font-size: 13px;
  text-align: left;

  thead {
    border-bottom: 2px solid $inner-border-color;
    text-transform: uppercase;
    white-space: nowrap;
    color: $app-color-grey;
    font-size: 11px;
    font-weight: 500;

    th {
      padding: 6px 12px;
      text-align: left;

      button {
        border: 0;
        background: 0;
        text-transform: uppercase;
        white-space: nowrap;
        color: $app-color-grey;
        font-size: 11px;
        font-weight: 600;
        width: 100%;
        text-align: left;
      }
    }
  }

  td {
    padding: 7px 12px;

    &.indented-cell {
      padding-left: 50px;
    }
  }

  &.compact {
    td {
      padding: 2px 12px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px $inner-border-color solid;
      height: 45px;

      &:hover {
        background-color: $lily-white-tone-hover;
      }

      &.table-category {
        background: #f6f8fc;
        height: initial;
        border-bottom-width: 2px;

        td {
          padding: 5px 12px;
        }
      }

      &.email-template-folder-header {
        border-top: 1px $inner-border-color solid;
        border-bottom: 2px $inner-border-color solid;
      }
    }

    .newly-assigned {
      background: #eaffe9;

      &:hover {
        background: #e7f9e6;
      }

      td {
        padding: 5px 12px;
      }
    }
  }
}
