.hl-table {
  width: 100%;
  font-size: 13px;
  text-align: left;

  thead {
    border-bottom: 2px solid $inner-border-color;
    text-transform: uppercase;
    white-space: nowrap;
    color: #b4b4c0;
    font-size: 11px;
    font-weight: 500;

    th {
      padding: 6px 12px;
    }
  }

  td {
    padding: 8px 12px;
  }

  tbody {
    tr {
      border-bottom: 1px $inner-border-color solid;

      &:hover {
        background-color: $lily-white-tone-hover;
      }

      &.table-category {
        background: #f6f8fc;

        td {
          padding: 5px 12px;
        }
      }
    }

    .newly-assigned {
      background: #eaffe9;

      &:hover {
          background: #e7f9e6;
      }

      td {
        padding: 5px 12px;
      }
    }
  }
}
