.hl-table {
  width: 100%;
  font-size: 13px;
  text-align: left;

  thead {
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: $light-border-color;
    text-transform: uppercase;
    white-space: nowrap;
    color: #b4b4c0;
    font-size: 11px;
    font-weight: 500;

    th {
      padding: 6px 12px;
    }
  }

  td {
    padding: 12px;
  }

  tbody {
    tr {
      border-bottom-style: solid;
      border-bottom-color: $light-border-color;

      &:hover {
        background-color: $lily-white-tone-hover;
      }
    }
  }
}
