@import './variables/colors';
@import './variables/measurements';

.editable-wrap {
  display: flex;
  position: relative;
}

.editable {
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  display: inline-block;
  line-height: $inline-editable-field-height - 2px;
  position: relative;
  padding: 0 6px;
  border: 1px transparent solid;
  white-space: pre-wrap;

  &:after {
    background: $lily-white-tone-hover;
    border: 1px $base-border-color solid;
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    color: $lily-dark-blue;
    text-align: center;
    float: left;
    position: absolute;
    top: -1px;
    overflow: hidden;
    font-family: "lilicon";
    content: $hl-edit-icon;
    line-height: $inline-editable-field-height - 2px;
    visibility: hidden;
    width: 0;
    right: 0;
    cursor: pointer;

    &:hover {
        color: $lily-blue;
    }
  }

  &:hover {
    color: $lily-blue;
    border: 1px $base-border-color solid;
    cursor: text;

    &:after {
        transition: all ease-in-out 0.3s;
        visibility: visible;
        width: $inline-editable-field-height;
        right: -$inline-editable-field-height;
        z-index: 99;
    }
  }
}

.editable-buttons {
  button {
    color: $lily-dark-blue;
    background: $lily-white-tone-hover;
    border: 1px $lily-grey solid;
    border-right: 0;
    margin-left: 0;
    border-radius: 0;
    height: $inline-editable-field-height;
    width: $inline-editable-field-height;
    text-align: center;
    padding: 0;
    line-height: $inline-editable-field-height - 2px;

    &:last-child {
        border-top-right-radius: var(--base-border-radius);
        border-bottom-right-radius: var(--base-border-radius);
        border-right: 1px $lily-grey solid;
    }

    &:hover {
        background: $lily-white-tone-hover;
        border-color: $lily-grey;
        color: $lily-blue;
    }

    &:active {
        background: $lily-grey !important;
        color: darken($lily-blue, 10) !important;
        border-color: $lily-grey;
    }
  }
}

.editable-has-buttons {
  line-height: $inline-editable-field-height - 2px;
  height: $inline-editable-field-height;
  border: 1px $lily-grey solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.editable-input {
  line-height: $inline-editable-field-height;
  border-color: $lily-grey;
  border-radius: $base-border-radius;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;

  &:focus {
      border-color: $lily-grey;
  }
}

.editable-textarea {
  flex-direction: column;

  textarea {
    min-height: 100px;
    max-height: 500px;
  }

  .editable-buttons {
    align-self: flex-end;
  }
}

.editable-empty {
  color: $text-muted;
  font-style: italic;

  &:hover {
    color: $text-muted;
  }
}
