@import 'variables/global';
@import 'vendor';
@import 'buttons';
@import 'form';
@import 'fonts/lilicon';
@import 'utils';
@import 'tables';

// TODO: Temporary import, will probably be renamed and only imported in a certain component.
@import 'selects';

@mixin input-field($height) {
  border-style: solid;
  border-radius: $base-border-radius;
  background: #fff;
  line-height: $height;
  height: $height;
  padding: 0 6px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;

  &:focus {
      outline: none;
      border-color: darken($base-border-color, 20);
  }
}

* {
  margin: 0;
	padding: 0;
	font-size: 100%;
  border-color: $base-border-color;
  border-width: 1px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  background: $app-bg-color;
  color: #2a3042;
  margin: 0;
  line-height: 1.5;
}

ul {
  list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: $app-color-aqua;
  text-decoration: none;

  &:hover {
    color: $app-color-darkblue;
  }
}

textarea {
  outline: none;
  resize: none;
  padding: .375rem .75rem;
}

input {
  @include input-field(30px);
}

.block-overlay {
  position: relative;

  &:after {
    content: ' ';
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(39, 36, 76, 0.20);
    border-radius: 4px;
  }
}

.has-error {
  * {
    border-color: $app-color-red !important;
  }
}

.error-message {
  color: $app-color-red;
}
