@import 'variables/global';
@import 'buttons';
@import 'form';
@import 'fonts/lilicon';
@import 'inputs';
@import 'utils';

* {
  margin: 0;
	padding: 0;
	font-size: 100%;
  vertical-align: baseline;
  border-color: $base-border-color;
  border-width: 1px;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  background: $app-bg-color;
  color: #2a3042;
  margin: 0;
}

ul {
  list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.block-overlay {
    position: relative;

    &:after {
      content: ' ';
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(39, 36, 76, 0.20);
      border-radius: 4px;
    }
}
