@import 'variables/colors';
@import 'vendor';
@import 'buttons';
@import 'form';
@import 'fonts/lilicon';
@import 'utils';
@import 'tables';
@import 'icons';
@import 'inputs';

// TODO: Temporary import, will probably be renamed and only imported in a certain component.
@import 'selects';

@mixin input-field($height) {
  border-style: solid;
  border-radius: $base-border-radius;
  background: #fff;
  line-height: $height;
  height: $height;
  padding: 0 6px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: darken($base-border-color, 20);
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border-color: $base-border-color;
  border-width: 1px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  background: $app-bg-color;
  color: #2a3042;
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: $app-color-aqua;
  text-decoration: none;

  &:hover {
    color: $app-color-darkblue;
  }
}

textarea {
  outline: none;
  resize: none;
  padding: 0.375rem 0.75rem;
}

input {
  @include input-field(30px);
}

.block-overlay {
  position: relative;
  display: block;

  &:after {
    content: ' ';
    z-index: 3;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(39, 36, 76, 0.2);
    border-radius: 4px;
  }
}

.has-error {
  * {
    border-color: $app-color-red !important;
  }
}

.error-message {
  color: $app-color-red;
}

.lilicon {
  margin-top: -4px;

  &.small {
    font-size: 0.75em;
  }
}

.header {
  font-size: 18px;
  font-weight: 400;
  color: $app-color-darkblue;
}

.inbox {
  display: flex;
}

.detail-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  grid-auto-rows: min-content;

  .detail-row {
    display: flex;
    align-items: center;
    border-bottom: 1px $inner-border-color solid;

    > * {
      padding: 14px 16px;
    }

    > :first-child {
      width: 35%;
      font-weight: bold;
    }

    > :last-child {
      flex: 1;
    }
  }

  .detail-row-info {
    width: 35%;
    font-weight: bold;
  }

  .detail-description {
    padding: 14px 16px;
  }

  .widget-body {
    height: 300px;

    &.expanded-height {
      height: 500px;
    }
  }
}
