@import '~style/variables/colors';
@import '~style/variables/measurements';

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 36, 76, 0.5);
  display: flex;
  justify-content: center;
}

.lily-modal {
  min-width: 600px;
  max-width: 800px;
  min-height: 25%;
  max-height: 60%;
  margin: 10% auto auto;
  border: 1px $base-border-color solid;
  background: #fff;
  border-radius: $base-border-radius;
  outline: none;
  padding: 20px;
  position: relative;
  overflow-y: scroll;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-title {
      line-height: $default-line-height;
      font-size: 18px;
      font-weight: 400;
      color: $app-color-darkblue;
    }
  }

  .modal-content {
    min-height: 225px;
  }

  .modal-footer {
    // position: absolute;
    // bottom: 15px;
  }
}
