@import '~style/variables/colors';

.email-messages {
  flex: 1;

  .unread {
    font-weight: bold;
    background: $lily-white-tone-hover;
  }

  td {
    &:first-of-type {
      text-align: center;
    }

    &.navigation-cell {
      padding: 0;

      a {
        padding: 10px 12px;
        color: initial;
        display: block;
      }
    }
  }

  .list-header {
    &:last-of-type {
      border-bottom: 2px $inner-border-color solid;
    }
  }
}

.account-label {
  background: #797892;
  border-left: 5px solid $app-color-purple;
  padding: 3px 6px;
  color: #fff;
  width: 100px;
  font-size: 90%;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}

.email-detail {
  background: #fff;
  border-style: solid;

  .email-subject,
  .email-actions,
  .email-content {
    padding: 10px 15px;
  }

  .email-content {
    iframe {
      width: 100%;
      min-height: 1000px;
      border: 0;
    }
  }

  .email-subject,
  .email-info {
    border-bottom: 1px $light-border-color solid;
  }

  .email-actions {
    display: flex;
    border-bottom: 2px $inner-border-color solid;
  }

  .email-info {
    padding: 5px 15px 10px;
  }

  .email-info-top {
    display: flex;
    align-items: center;

    .email-sender-email {
      flex-grow: 1;
    }
  }

  .email-info-bottom {
    display: flex;

    .email-recipients {
      font-size: 0.9em;
      color: $text-muted;
      flex-grow: 1;
    }
  }

  .plain-text-button {
    border: 0;
    white-space: nowrap;
  }
}

.email-detail-widgets {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  grid-auto-rows: min-content;
}

.star-active {
  &:hover {
    > * {
      color: #eadfa8;
    }
  }
}
