@import '~style/variables/colors';
@import '~style/variables/measurements';

.radio-button-group {
  display: inline-block;
  margin: 0;
  padding: 0;

  .radio-button {
    line-height: 31px;
    border: 1px $base-border-color solid;
    border-bottom-width: 2px;
    color: $app-color-darkblue;
    border-left-width: 0;
    background: #fff;
    margin: 0;
    padding: 0 8px;
    display: inline-block;
    position: relative;

    &:hover {
      color: $app-color-mint;
    }

    &:first-child {
      border-radius: $base-border-radius 0 0 $base-border-radius;
      border-left-width: 1px;
    }

    &:last-child {
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }

    &.active {
      background: $lily-white-tone-hover;
    }

    // &.disabled {
    //   background: darken($lily-header-bg, 3);
    //   color: darken($lily-header-bg, 10);
    //   cursor: not-allowed;
    // }
  }

  &.radio-button-list {
    .radio-button {
      line-height: 33px;
      float: none;
      display: block;
      border-bottom-width: 0;
      border-left-width: 1px;

      &:first-child {
        border-radius: $base-border-radius $base-border-radius 0 0;
      }

      &:last-child {
        border-bottom-width: 2px;
        border-radius: 0 0 $base-border-radius $base-border-radius;
      }
    }
  }
}

.radio-button-input {
  display: none;

  &:checked {
    + .radio-button-label {
      &:after {
        position: absolute;
        left: -21px;
        top: 0;
        content: '';
        margin: 0;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        border: 0;
        background: $app-color-mint;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        box-shadow: none;
      }

      .radio-button-checkmark {
        display: inline-block;

        &:after {
          content: '';
          position: absolute;
          top: 3px;
          left: -16px;
          width: 3px;
          height: 6px;
          border: solid #fff;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          z-index: 3;
        }
      }
    }
  }

  + .radio-button-label {
    line-height: 16px;
    position: relative;
    margin-left: 21px;

    &:after {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      margin: 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background: #fff;
      border: 1px $base-border-color solid;
      box-sizing: border-box;
      -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
  }

  &:disabled {
    + .radio-button-label {
      &:after {
        border-color: darken($lily-header-bg, 8);
        pointer-events: none;
        background: transparent;
      }
    }
  }
}
