@import '~style/variables/colors';
@import '~style/variables/measurements';

// .radio-buttons {
//   .radio-button {
//     border: 1px $inner-border-color solid;
//     border-bottom-width: 2px;
//     line-height: 30px;
//     border-left-width: 0;
//     background: #fff;
//     margin: 0;
//     padding: 0 8px;
//     display: inline-block;
//     position: relative;

//     &:first-child {
//       border-radius: 4px 0 0 4px;
//       border-left-width: 1px;
//     }

//     &:last-child {
//       border-radius: 0 4px 4px 0;
//     }
//   }
// }

.radio-button-group {
  display: inline-block;
  margin: 0;
  padding: 0;

  .radio-button {
    line-height: 31px;
    border: 1px $base-border-color solid;
    border-bottom-width: 2px;
    color: $app-color-darkblue;
    border-left-width: 0;
    background: #fff;
    margin: 0;
    padding: 0 8px;
    display: inline-block;

    &:hover {
      color: $app-color-mint;
    }

    &:first-child {
      border-radius: $base-border-radius 0 0 $base-border-radius;
      border-left-width: 1px;
    }

    &:last-child {
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }

    &.active {
      background: $lily-white-tone-hover;
    }

    // &.disabled {
    //   background: darken($lily-header-bg, 3);
    //   color: darken($lily-header-bg, 10);
    //   cursor: not-allowed;
    // }
  }

  &.radio-button-list {
    .radio-button {
      line-height: 33px;
      float: none;
      display: block;
      border-bottom-width: 0;
      border-left-width: 1px;

      &:first-child {
        border-radius: $base-border-radius $base-border-radius 0 0;
      }

      &:last-child {
        border-bottom-width: 2px;
        border-radius: 0 0 $base-border-radius $base-border-radius;
      }
    }
  }
}

.radio-button-input {
  display: none;

  + .radio-button-checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: $app-color-mint;
    border-radius: 50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 9px;
      background-color: #fff;
      left: 11px;
      top: 6px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      background-color: #fff;
      left: 8px;
      top: 12px;
    }
  }

  + .radio-button-label {
    line-height: 16px;
    position: relative;
    margin-left: 21px;

    &:after {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      margin: 0;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background: #fff;
      border: 1px $base-border-color solid;
      box-sizing: border-box;
      -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
      text-align: center;
      // font-size: 10px;
      // font-weight: 300;
      color: #fff;
      cursor: pointer;
    }
  }

  &:disabled {
    + .radio-button-label {
      &:after {
        border-color: darken($lily-header-bg, 8);
        pointer-events: none;
        background: transparent;
      }
    }
  }
}
