@import '~style/variables/colors';

.editor {
  background-color: #fff;
  border: 1px solid $base-border-color;
  border-top: 0;
  position: relative;
  color: $app-color-darkblue;

  &.fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
    height: 60%;
    z-index: 25;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
}

.lily-tabs {
  .editor {
    border: 0;
  }

  &.no-padding {
    .tab-content {
      padding: 0;
    }
  }
}

.editor-header {
  padding: 7px 12px;
  font-size: 1.25em;
  font-weight: 500;
  border-top: 1px $base-border-color solid;
  border-bottom: 1px $base-border-color solid;
}

/* TEMPORARY STYLING. COPY OF .Select-control. */
.editor-subject {
  background-color: #fff;
  border: 0;
  height: 34px;
  outline: none;
  flex-grow: 1;
  font-size: 1em;
  padding: 0 10px;
  box-sizing: border-box;
}

.editor-form-actions {
  padding: 10px;
  border-top: 1px $base-border-color solid;
  background: $lily-white-tone-hover;
  display: flex;

  .discard-button {
    margin-left: auto;
  }

  .separator {
    height: 34px;
    width: 2px;
    background: $inner-border-color;
    margin: 0 16px;
  }
}

.editor-select-input {
  flex-grow: 1;
}

.editor-input-group {
  display: flex;
  border-bottom: 1px $base-border-color solid;

  label {
    width: 10%;
    padding: 7px 14px;
    font-weight: 500;
    margin-bottom: 0;
  }
}

.editor-upload-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5em 0;
  background-color: rgba(39, 36, 76, 0.5);
  text-align: center;
  color: #fff;
}
