$app-color-darkblue: #27244c;
$app-color-purple: #9f5edc;
$app-color-aqua: #2ab8e0;
$app-color-mint: #55dcc3;
$app-color-red: #ff4257;
$app-color-yellow: #ffd600;
$app-color-grey: #b4b4c0;

$app-link-color: $app-color-aqua;
