$base-border-color: #d1d1d1;
$app-border-color: #e1e6ef;

$app-bg-color: #eff0f8;

// Colors
$light-grey: #f5f6fa;

$lily-blue: #5b9bd1;
$lily-grey: #e9ecf3;

$sky-grey: #eff2f9;
$base-border-color: #d1d1d6;
$light-border-color: #eff2f8;
