$bullet-color-1: #7dc9fa;
$bullet-color-2: #c6a0f0;
$bullet-color-3: #94efac;
$bullet-color-4: #ffd66f;
$bullet-color-5: #6c8ce6;
$bullet-color-6: #ff9a4f;
$bullet-color-7: #95c6ff;
$bullet-color-8: #e26060;
$bullet-color-9: #75efff;
$bullet-color-10: #a58f7b;
$bullet-color-11: #b4d395;
