/* SG
# Variables #

To secure consistency throughout the application we have set a couple of styling
variables. By changing these variables the general look and feel of the application
can be adjusted.

### Variable naming convention ###
Variables should be named in a manner that the values can easily be changed. To
give an example a variable like `$red: #dfba49;` is not a well named variable.
It can never contain a blue value. Instead a variable name like
`$critical-prio-color: #dfba49;` is prefered. This variable name creates meaning to it.
*/

// NEW COLORS


// Borders
$base-border-radius: 4px;

// Buttons
$button-height: 30px;

// Breakpoints
$breakpoint-mobile: 420px;
$breakpoint-tablet: 767px;
$breakpoint-laptop: 1030px;
$breakpoint-desktop: 1200px;
$breakpoint-tv: 1800px;
