@import '~style/variables/measurements';
@import '~style/variables/colors';

.pagination-container {
  display: flex;
  align-items: center;

  .rc-pagination {
    margin-left: auto;
  }
}

// rc-pagination
.rc-pagination {
  li {
    border-radius: 0;
    margin-right: 0;
    border: 1px $base-border-color solid;
    border-right: 0;
    height: $default-line-height;
    line-height: $default-line-height;
    min-width: $default-line-height - 2;

    &:hover {
      border: 1px $base-border-color solid;
      border-right: 0;

      a {
        color: $app-color-aqua;
      }
    }

    &:first-of-type {
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-right: 1px $base-border-color solid;

      &:hover {
        border-right: 1px $base-border-color solid;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .rc-pagination-disabled {
    pointer-events: none;
    background: $lily-white-tone-hover;
  }

  .rc-pagination-item-active {
    background: $app-color-darkblue;
  }
}
