@import '~style/variables/colors';
@import '~style/variables/measurements';

.postpone-container {
  background: #fff;
  z-index: 4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px $base-border-color solid;
  border-radius: $base-border-radius;
  position: absolute;
  display: flex;

  .postpone-header {
    padding: 2px 12px;
    background: $app-bg-color;
    border-bottom: 2px $base-border-color solid;
    font-weight: 600;
    font-size: 13px;
    line-height: $default-line-height;
    border-top-right-radius: $base-border-radius;
    border-left: 1px $base-border-color solid;
  }

  .postpone-buttons {
    width: 250px;

    > button {
      display: block;
      width: 100%;
      padding: 5px 12px;
      text-transform: initial;
      font-weight: initial;
      font-size: 13px;
      border-bottom: 1px $inner-border-color solid;
      border-radius: 0;
      text-align: left;

      &:hover {
        background: $lily-white-tone-hover;
      }
    }

    .postpone-header {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: 0;
      border-left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 4;
      left: 10px;
      top: -8px;
      width: 0;
      height: 0;
      border-width: 0 8px 8px;
      border-color: transparent transparent $app-bg-color;
      border-style: solid;
    }

    &:after {
      content: '';
      z-index: 3;
      position: absolute;
      top: -9px;
      left: 10px;
      border-width: 0 8px 8px;
      border-color: transparent transparent $base-border-color;
      border-style: solid;
    }
  }

  .react-datepicker {
    border-radius: 0;
    border: 0;
    border-left: 1px $inner-border-color solid;
    border-bottom-right-radius: $base-border-radius;
  }
}
