@import '~style/variables/colors';

.sidebar {
  position: absolute;
  right: -21%;
  top: 0;
  width: 20%;
  z-index: 4;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-out;
  height: 100%;

  .sidebar-content {
    .content-block {
      border-style: none;
    }
  }

  &.slide {
    transition: all 0.35s ease;
    right: 0;
  }

  &.expanded {
    width: 100%;
    background: $app-bg-color;

    .content-block-container {
      max-width: 2000px;
      margin: auto;

      .content-block {
        border-style: solid;
      }
    }
  }

  .close-btn {
    padding: 10px;
    background: none;
  }
}
