@import '~style/variables/colors';
@import '~style/variables/measurements';

.sidebar {
  position: absolute;
  right: -21%;
  top: $content-top;
  width: 20%;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-out;
  min-height: 100%;

  // .sidebar-header {
  //   .close-btn {
  //     padding: 10px;
  //     background: none;
  //   }
  // }

  .sidebar-content {
    .content-block {
      border-style: none;
    }
  }

  &.slide {
    transition: all 0.35s ease;
    right: 0;
  }

  &.expanded {
    width: 100%;
    background: $app-bg-color;

    .content-block-container {
      max-width: 2000px;
      margin: auto;

      .content-block {
        border-style: solid;
      }
    }
  }

  .close-btn {
    svg {
      font-size: 1.6em;
    }
  }
}
