@import '~style/variables/colors';

.editor {
  background-color: #fff;
  border: 1px $base-border-color solid;
  border-top: 0;
  position: relative;
  color: $app-color-darkblue;

  &.fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
    height: 60%;
    z-index: 20;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
}

.editor-attachments {
  border-top: 1px solid $base-border-color;
  padding: 5px 10px;
  list-style-type: none;
}

.editor-attachment {
  padding: 10px 5px;
}

.editor-attachment-name {
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.editor-attachment-size {
  color: #aaa;
  vertical-align: middle;
}
