@import '~style/variables/colors';
@import '~style/variables/measurements';

.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  grid-gap: 25px;

  .content-block {
    .content-block-body {
      min-height: $content-block-max-height / 2;
    }
  }

  .loading-indicator {
    height: $content-block-max-height / 2 - 25px;
  }
}

.content-block-container {
  &.expanded {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.content-block-scroll-fade {
  position: absolute;
  height: 14px;
  background-color: lighten($sky-grey, 3);
  opacity: 0.85;
  border: 0;
  border-top: 1px solid $base-border-color;
  border-radius: 0;
  z-index: 5;
  text-align: center;
  width: 100%;
  bottom: 0;
  line-height: 14px;

  &.hl-interface-btn {
    .svg-inline--fa {
      margin-top: -2px;
    }
  }
}

.content-block-label {
  position: absolute;
  z-index: 2;
  left: -1px;
  top: -1px;
  bottom: -1px;
  float: left;
  width: 5px;
  background: $app-color-grey;

  &.cases {
    background: $case-color;
  }

  &.deals {
    background: $deal-color;
  }

  &.email {
    background: $email-color;
  }

  &.contact {
    background: $contact-color;
  }

  &.account {
    background: $account-color;
  }
}

.time-log-collaborators {
  border-top: 1px $inner-border-color solid;

  img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $base-border-radius;
  }
}
