@import '~style/variables/colors';
@import '~style/variables/measurements';

$max-height: 400px;

.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  grid-gap: 15px;

  .loading-indicator {
    height: $max-height - 25px;
  }
}

.content-block-container {
  &.expanded {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.content-block {
  border: 1px $base-border-color solid;
  background: #fff;
  position: relative;

  .content-block-header {
    border-bottom: 1px $light-border-color solid;
    display: flex;
    align-items: center;
    position: relative;
  }

  .content-block-header,
  .content-block-content,
  .content-block-footer {
    padding: 10px 15px;
  }

  .content-block-body {
    max-height: $max-height;
    overflow-y: scroll;

    &.expanded-height {
      max-height: $max-height * 2;
    }
  }

  .content-block-title {
    flex-grow: 1;
  }

  .content-block-name {
    line-height: $default-line-height;
    font-size: 18px;
    font-weight: 400;
    color: $app-color-darkblue;
    display: flex;
    align-items: center;

    .label-amount {
      display: inline-block;
      border-radius: $base-border-radius;
      border: 1px $base-border-color solid;
      padding: 0 3px;
      margin: 0 3px;
      font-size: 14px;
      text-align: center;
      min-width: 24px;
      line-height: 24px;

      &.high-prio {
        color: #fff;
        border-color: darken($critical-prio-color, 20);
        background: $critical-prio-color;
      }
    }
  }

  .content-block-content {
    &.border-bottom {
      border-bottom: 1px $inner-border-color solid;
    }
  }

  .content-block-extra {
    margin-left: auto;
    display: flex;
  }
}

.content-block-scroll-fade {
  position: absolute;
  height: 14px;
  background-color: lighten($sky-grey, 3);
  opacity: 0.85;
  border: 0;
  border-top: 1px solid $base-border-color;
  border-radius: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  bottom: 0;

  i {
    font-size: 10px;
    position: absolute;
    top: 50%;
  }
}

.content-block-label {
  position: absolute;
  z-index: 2;
  left: -1px;
  top: -1px;
  bottom: -1px;
  float: left;
  width: 5px;
  background: $app-color-grey;

  &.cases {
    background: $case-color;
  }

  &.deals {
    background: $deal-color;
  }

  &.email {
    background: $email-color;
  }

  &.contact {
    background: $contact-color;
  }

  &.account {
    background: $account-color;
  }
}

.time-log-collaborators {
  border-top: 1px $inner-border-color solid;

  img {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $base-border-radius;
  }
}
