@import '~style/variables/colors';

.email-accounts {
  flex-basis: 15%;
}

.label-list {
  background: #fff;
  border-style: solid;
  margin-bottom: 15px;

  .list-header {
    display: flex;
    align-content: center;
    background: $app-color-darkblue;
    color: #fff;
    border-left: 5px solid $app-color-purple;
    padding: 4px 6px 4px 8px;
    text-overflow: ellipsis;
    font-size: 15px;
    cursor: pointer;

    .hl-interface-btn {
      &:hover {
        color: #fff;
      }
    }
  }

  .label-name {
    align-self: center;
    flex-grow: 1;
    padding-left: 5px;
    border: 0;
    background: none;
    text-align: left;
    color: #fff;

    &.account-selected {
      color: $app-color-mint;
    }
  }

  .email-account-label {
    display: flex;

    &:hover {
      background: $lily-white-tone-hover;
    }

    &.active {
      background: $lily-white-tone-hover;
    }
  }

  ul {
    .email-label {
      padding: 10px 12px;
      text-align: left;
      border: 0;
      background: none;
      flex-grow: 1;
    }
  }
}

.email-account-syncing {
  background: $app-color-aqua;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 3px;

  @keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 50px 50px;
    }
  }

  &:after {
    content: '';
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
