@import '~style/variables/colors';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;

  .main-nav {
    background: $app-color-darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-nav-links {
      display: flex;
      align-items: center;
      flex-direction: row;

      li {
        a {
          text-decoration: none;
          color: #9392a6;
          font-size: 16px;
          display: flex;
          align-items: center;

          :not(:first-child) {
            padding: 16px 4px;
          }

          &.active,
          &:hover {
            color: #fff;
          }

          .lily-icon {
            width: 40px;
          }
        }
      }

      .nav-text {
        @media (max-width: 1000px) {
          display: none;
        }
      }
    }

    .hl-primary-btn {
      font-weight: bold;
    }
  }

  .nav-add-buttons {
    margin-left: auto;
    margin-right: 20px;

    .hl-primary-btn {
      margin-right: 5px;
    }

    @media (max-width: 1550px) {
      display: none;
    }
  }

  .nav-add-buttons-compact {
    display: none;
    margin-left: auto;
    margin-right: 20px;

    @media (max-width: 1550px) {
      display: unset;
    }
  }

  .dropdown-menu {
    display: flex;
    top: 5px;
    right: 0;

    .hl-primary-btn {
      border: 0;
      padding: 8px 16px;
    }
  }
}
