@import '~style/variables/colors';

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    .main-nav {
        background: $app-color-darkblue;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-nav-links {
            display: flex;
            align-items: center;
            flex-direction: row;

            li {
                a {
                    text-decoration: none;
                    color: #9392a6;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    padding: 15px;

                    &.active,
                    &:hover {
                        color: #fff;
                    }
                }

                .lilicon {
                    font-size: 18px;
                }

                .hl-lily-icon {
                    font-size: 2em;
                    color: #fff;
                }
            }
        }
    }
}
