@import '~style/variables/colors';
@import '~style/variables/measurements';

.dropdown-menu {
  background: #fff;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: $base-border-radius;
  right: 15px;
  position: absolute;
  width: 250px;

  .dropdown-menu-item {
    a {
      &:not(.unavailable-marker) {
        padding: 13px;
        display: block;
        text-decoration: none;
        color: $app-color-darkblue;
        white-space: nowrap;

        &:hover {
            background-color: $app-color-aqua;
            color: #fff;
        }
      }
    }

    &:first-of-type {
      a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &:last-of-type {
      a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .divider {
    margin: 5px 10px;
    border-bottom-style: solid;
  }
}

.dropdown-menu-item {
  .is-disabled {
    a {
      &:not(.unavailable-marker) {
        background-color: initial;
        display: inline-block;
        width: 150px;
      }
    }
  }
}

.header-avatar {
  color: $text-muted;
  display: flex;
  align-items: center;

  &:hover {
    color: #fff;
  }

  img {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}
