.subnav {
  background: #fff;
  border-bottom-style: solid;

  .subnav-inner {
    height: 30px;
    max-width: 2000px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    .page-name {
      font-size: 1.5em;
      font-weight: 500;
    }
  }
}
