.subnav {
  background: #fff;
  border-bottom-style: solid;

  .subnav-inner {
    max-width: 2000px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .page-name {
      font-size: 1.75em;
      font-weight: 500;
      display: flex;
    }
  }
}
